mixin about()
    section.about#about 
        .about__content 
            .description#descrip-about 
                .description__title Do you want to know about me?
                    hr
                p.paragraph My name is Vitaliy, I am 20 years old at the moment, someone will say that it is a lot and someone that it is just the beginning :), I live now in Ivano-Frankivsk, I got acquainted with programming a year ago, then I got a layout of sites and I was very interested , I started teaching first html later css and so on, in the summer of 2021 I went to frontend courses at Beetroot Academy to improve my knowledge in this area, and I'll tell you that it was the right decision to go to these courses, then on the site you will see my skills that I acquired during the year of study so do not stop)
            .photo#photo 
                img(src="./assets/images/photome.jpg", alt="ItsMe")
        
        