mixin banner()
    section.banner#banner  
        .nav-wrapper 
            .burger 
                div#burgerItem
                div#burgerItem-1 
                div#burgerItem-2
        .information 
            .title Vitaliy Lyuklyan
            .subtitle Front-end Developer 
        .panel-links 
            .close-btn 
            .info 
                .info__title Navigation
                ul.links 
                    li.link
                        a#link(href="#about") About Me
                    li.link
                        a#link(href="#skills") Skills 
                    li.link
                        a#link(href="#works") Works 
                    li.link
                        a#link(href="#contact") Contact Me
        .banner__footer 
            a#link(href="#about")  
                .arrow

