mixin banner()
    section.banner#banner  
        .nav-wrapper 
            .burger 
                div#burgerItem
                div#burgerItem-1 
                div#burgerItem-2 
        .information 
            .title Vitaliy Lyuklyan
            .subtitle Welcome my Portfolio 
            .paragraph Hello everyone who came to my portfolio here is only the text and photo, if you want to meet me then see below :)
        .panel-links 
            .close-btn 
            .info 
                .info__title Site explorer
                ul.links 
                    li.link
                        a#link(href="#about") About Me
                    li.link
                        a#link(href="#skills") Skills 
                    li.link
                        a#link(href="#works") Works 
                    li.link
                        a#link(href="#contact") Contact Me
