mixin contact()
    footer.contact#contact 
        .contact__content 
            nav.nav 
                ul.links 
                    li.link Navigation
                    li.link
                        a#link(href="#banner") Home
                    li.link
                        a#link(href="#about") About Me 
                    li.link
                        a#link(href="#skills") Skills 
                    li.link
                        a#link(href="#works") Works 
            .info 
                .info__title How can you contact me?
                ul.lists 
                    li.list
                        a.instagram(href="https://www.instagram.com/vitalikluc/" target='_blank') 
                    li.list
                        a.gmail(href="mailto:kastrula123@gmail.com" target='_blank')    
                    li.list
                        a.number(href="tel:+380684750677" target='_blank')

        .speech This is the end of the portfolio, I showed you my work, what I learned on my way, if I got interested in you, I will be glad to talk to you) this is just the beginning, then more)
            |   have a nice day or evening, bye)




