mixin contact()
    footer.contact#contact 
        .contact__content 
            .info 
                .info__title How can you contact me?
                ul.lists 
                    li.list
                        a.instagram(href="https://www.instagram.com/vitalikluc/" target='_blank') 
                    li.list
                        a.gmail(href="mailto:kastrula123@gmail.com" target='_blank')    
                    li.list
                        a.number(href="tel:+380684750677" target='_blank')



