mixin skills()
    section.skills#skills
        .title#skills-title My Skills 
        .info 
            ul.lists#skills-lists  
                li.list HTML5/PUG
                    .item 
                li.list CSS/SASS/SCSS
                    .item
                li.list CSS Animation
                    .item
                li.list Base JS/Jquery
                    .item
                li.list Bootstrap 
                    .item
                li.list BEM 
                    .item
                li.list Adaptive/Crossbrowser
                    .item
                li.list Photoshop/Figma
                    .item
                li.list GIT
                    .item
