mixin works()
    section.works#works 
        .title My Works 
        .projects 
            .project
                a.project__link(href="https://kripakdebug.github.io/Plantshop/" target='_blank')   
                    .title-link Plantshop
                    img(src="./assets/images/photoWork.png" alt="photoWork")    
                    
            .project
                a.project__link(href="https://kripakdebug.github.io/Polar/" target='_blank')    
                    .title-link Polar
                    img(src="./assets/images/photoWork1.png" alt="photoWork")
            .project
                a.project__link(href="https://kripakdebug.github.io/Yes/" target='_blank')  
                    .title-link Yes
                    img(src="./assets/images/photoWork2.png" alt="photoWork")
            .project
                a.project__link(href="https://kripakdebug.github.io/BW/" target='_blank') 
                    .title-link B&W
                    img(src="./assets/images/photoWork3.png" alt="photoWork")
            .project
                a.project__link(href="https://kripakdebug.github.io/Home/" target='_blank') 
                    .title-link Home
                    img(src="./assets/images/photoWork4.png" alt="photoWork")