include ../_includes/_components/index
include ../_includes/_elements/index

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./assets/css/reset.min.css")
        link(rel="stylesheet", href="./assets/css/fonts.css")
        link(rel="stylesheet", href="./main.css")
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        title Portfolio
    body(onload="loadPage()")
        +preload()
        .wrapper#wrapper
            +banner()
            +about()
            +skills()
            +works()
            +contact()
        script(src='./assets/js/script.js')