.skills{
    display: flex;
   background: rgb(170, 170, 170);
    flex-direction: column;
    clip-path: polygon(0 8%, 100% 0, 100% 92%, 0 100%);
    color: #000;
    align-items: center;
    .title{
        margin-top: 150px;
        color: #fff;
    }
    .info{
        margin-bottom: 130px;
        margin-top: 45px;
        text-align: left;
        .list{
            display: flex;
            color: #fff;
            width: 500px;
            align-items: center;
            padding: 15px;
            background: rgba(20, 20, 20, 0.788);
            justify-content: space-between;
            .item{
                &::before{
                    width: 30px;
                    display: flex;
                    align-items: center;
                    color: #000;
                    justify-content: center;
                    border: 2px solid #000;
                    background: #fff;
                    transition: .3s;
                    height: 30px;
                    font-size: 15px;
                    border-radius: 100%;
                    content: "\ea10";
                    font-family: 'icomoon';
                    // position: absolute;
                }
            }
            font-weight: 500;
            letter-spacing: 2px;
            font-size: 20px;
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
            margin: 36px 0px;
        }
    }
}
@keyframes animatedScroll{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@media (max-width: 654px){
    .skills{
        .title{
            font-size: 35px;
        }
        .info{
            .list{
                width: 400px;
        }
        }
    }
}
@media (max-width: 469px){
    .skills{
        .title{
            font-size: 27px;
        }
        .info{
            .list{
                .item{
                    &::before{
                        width: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: 2px solid #000;
                        transition: .3s;
                        cursor: pointer;
                        height: 20px;
                        font-size: 13px;
                    }
                }
                font-size: 16px;
                width: 280px;
        }
        }
    }
}