.works {
  display: flex;
  align-items: center;
  flex-direction: column;
  .title {
    margin-bottom: 35px;
  }
  .projects {
    justify-content: center;
    display: flex;
   flex-wrap: wrap;
   width: 80%;
    margin-bottom: 50px;
    .project {
      margin: 15px 15px;
      border: 3px solid rgb(24, 24, 24);
      .project__link {
        cursor: pointer;
        display: flex;
        text-decoration: none;
        .title-link {
          position: absolute;
          z-index: 7;
          font-size: 37px;
          font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
          opacity: 0;
          transition: 0.4s;
          font-weight: bold;
          color: #fff;
        }
        align-items: center;
        justify-content: center;
        position: relative;
        transition: 0.4s;
        width: 370px;
        height: 200px;
        &:hover {
          .title-link {
            opacity: 1;
          }
          &::before {
            opacity: 1;
          }
        }
        &::before {
          content: "";
          display: block;
          z-index: 6;
          opacity: 0;
          position: absolute;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.24);
          transition: 0.4s;
        }
        img {
          width: inherit;
          height: inherit;
        }
      }
    }
  }
}

@media (max-width: 450px){
   .works{
       .projects{
        .project{
            .project__link {
                .title-link {
                  font-size: 24px;
                }
                width: 320px;
                height: 170px; 
            }
        }
       }
   }
}
@media (max-width: 358px){
    .works{
        .projects{
         .project{
             .project__link {
                 .title-link {
                   font-size: 20px;
                 }
                 width: 300px;
                 height: 150px; 
             }
         }
        }
    }
 }